/* General styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease, top 0.3s ease;
}

/* Top bar styles */
.navbar-top {
  background-color: #31b651;
  height: 5vh;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}

.contact-info {
  color: white;
  font-size: 14px;
}

.navbar-bottom {
  display: flex;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}

.nav-logo {
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
}

/* Desktop nav links */
.nav-links-desktop {  
  display: flex;  
  gap: 2vw;
  margin-right: 5vw;
  font-weight: 600;
  color: #111418;
  letter-spacing: 1px;
  cursor: pointer;
}

/* Dropdown menu styles */
.nav-dropdown {
  position: relative;
  display: none;
}

.nav-dropdown-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #000;
}


/* Dropdown content styling for mobile view */
.nav-dropdown-content {
  position: absolute;
  top: 55px;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  display: none;
  flex-direction: column;
  width: 80vw;
  max-width: 250px;
}

.nav-dropdown.open .nav-dropdown-content {
  display: flex;
}

/* Overlay for background dimming when dropdown is open */
.nav-dropdown-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;
}

.nav-dropdown.open ~ .nav-dropdown-overlay {
  display: block;
}
.sticky {
  top: -55px; /* Height of navbar-top */
}

/* Individual dropdown links */
.nav-dropdown-content a {
  color: #111418;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.nav-dropdown-content a:hover {
  background-color: #31b651;
  color: #ffffff;
}

/* Mobile responsive styles */
@media screen and (max-width: 768px) {
  .nav-links-desktop {
    display: none;
  }

  .nav-dropdown {
    display: block;
  }
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  padding-left: 5vw;
}

.contact-info span {
  margin-right: 20px;
}

.select-wrapper {
  position: relative;
  padding-right: 5vw;
}

.select-wrapper select {
  width: 10vw;
  padding: 10px;
  appearance: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

.flag-icon {
  width: 20px;
  margin-right: 10px;
}
